@use '../../../assets/colors/index.scss' as color;

.content2{
    width: 100%;
    height: 100%;
    grid-area: contentBanner;
    box-sizing: border-box;
    padding-left: 10%;
    padding-top: 8%;
    h1{
        text-align: left;
        width: 100%;
        font-size: 1.5rem;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        color: color.$color_text_dark_primary;
        .h1__ntfs{
            color: color.$color_button_primary;
            font-size: 1.5rem;
            
        }
    }
    .content__description{
        color: color.$color_text_dark_primary;
        font-size: 1rem;
        text-align: left;
        font-family: 'Montserrat',sans-serif;
        width: 500px;
        margin-top: 2%;
        
    }
    .content__button{
        margin-top: 4%;
        width: 70%;
        display: flex;
        justify-content: space-between;
    }
}

@media screen and (max-width:700px){
    .content2{
        padding: 10%;
        h1{
            width: 100% !important;
        }
        .content__description{
            width: 100% !important;
        }
    }
}