

$color_text_dark_primary: white;
$color_text_light_primary: #011C44;
$color_background:#011C44;
$color_text_secondary: #0039FF;
$color_button_primary: #D6302A;
$color_button_secondary: #0039FF;
$color_button_tertiary: #01285D;
$color_text_artist_header: #000;
